<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="wrapper">
      <form action="login" method="POST">
        <div class="header">
          <span class="title">Please log in</span>
        </div>
        <div class="">
          {{ #random }}
            <img src="{{.}}">
          {{ /random }}
          <button>Log me in.</button>
        </div>
      </form>
    </div>
  </body>
</html>
